.card {
    width: 28rem;

}
.card1{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:150px;
}
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    display: flex;
    margin-right: 5rem;
    margin-left:5rem;
}
.label {
    display: flex;
    margin-left: 5rem;
}
.buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    margin:10px;
}
.loginb {
    background-color: #5FA4B5;
}
.registrob {
    background-color: #5FA4B5;
    color:#ffffff;
}