@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.card {
    width: 28rem;
    background-color: #a9d6e8;
}
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
.h1 {
    font-family: 'Monoton', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.input {
    display: flex;
    margin-right: 5rem;
    margin-left:5rem;
}
.label {
    display: flex;
    margin-left: 5rem;
}
.buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px
}
.but{
    margin:10px;
}
.loginb {
    background-color: #5FA4B5;
}
.registrob {
    background-color: #5FA4B5;
    color:#ffffff;
}
body {
    background-color: aliceblue;
    background-attachment: fixed;
    background-size: 100% 100%;
}